
<div style="font-size: 25px;float: right;"><span (click)="close()">X</span></div>
   <div style="padding-top: 10px;" id="body">
   
<h3 style="padding-left: 400px;color: #f90074;font-size: 30px;"><b>ABOUT US</b></h3>
 <section id="ABOUT">
     <!-- <div class="about-1">
         <h1> ABOUT US </h1>
         <P>sint Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus optio sectetur minima soluta nulla, alias tenetur doloribus vitae quo eaque, quae illo!fugit tempora ipsum maiores dolorum enim, beatae qui quasisint Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus optio sectetur minima soluta nulla, alias tenetur doloribus vitae quo eaque, quae illo!fugit tempora ipsum maiores dolorum enim, beatae qui quasi</P>
     </div> -->
     <div id="about-2">
     <div class="content-box-lg">
         <div class="container">
             <div class="row">
                 <div class="col-md-4">
                    <div class="about-item text-center">
                     <!-- <i class="fa fa-book"></i> -->
                     <img width="250px" height="220px" src="https://previews.123rf.com/images/vectorkif/vectorkif1904/vectorkif190400179/121610276-concept-of-modern-young-business-woman-cartoon-character-businesswoman-holds-folder-and-documents-ve.jpg">
                     <h3>TEAM LEADER</h3>
                     <hr>
                     <div style="padding-top: 3px;">
                        <p>Anindita Mazumder</p>
                     <p>Manager</p>
                     </div>
                     </div>
                 </div>
                 <div class="col-md-4">
                    <div class="about-item text-center">
                     <!-- <i class="fa fa-globe"></i> -->
                     <img width="250px" height="220px" src="https://previews.123rf.com/images/vectorkif/vectorkif1901/vectorkif190100035/115836127-business-woman-in-casual-clothes-beautiful-businesswoman-cartoon-character-holding-laptop-vector-ill.jpg">
                     <h3>TEAM MEMBER I</h3>
                     <hr>
                      <div style="padding-top: 3px;">
                     <p>Pavithra Muthusamy</p>
                    <p>Sr Analyst/Software Engineer
                    </p>
                    </div>

                     </div>
                 </div>
                 <div class="col-md-4">
                    <div class="about-item text-center">
                     <!-- <i class="fa fa-pencil"></i> -->
                     <img width="250px" height="220px" src="https://d2gg9evh47fn9z.cloudfront.net/800px_COLOURBOX27556625.jpg">
                     <h3>TEAM MEMBER II</h3>
                     <hr>
                     <div style="padding-top: 3px;">
                     <p>Pooja Narayan Palekar</p>
                    <p>Analyst/Software Engineer</p>
                    </div>
                     </div>
                  </div>
              </div>
            </div>
         </div>
      </div>   
 </section>
    
<!--our footer -->
 
<!-- <footer class="text-center">
    <p>Copyright &copy; 2021 All rights reserved by Freddie Nice Inc.</p>
</footer> -->
</div>


<!--if you manage it to this far, congratulations, check more on https://devhubke.com/projects-->
