
<body id="body">
  <div class="cardcontainer">
    <h1 style="color:#dfe1e6d8;padding-left: 18%;font-size: 35px;" id="text3d">Deployment Automation</h1>
    <!-- <h1 style="color:#dfe1e6d8;padding-left: 27%;font-size: 35px;">Deployment Automation</h1> -->
    <div class="row" style="padding-top: 22px;">
        <div class="col-sm-6">
          
            <div class="card" style="width: 23rem;height: 20rem;">
                <!-- <div class="card-body">
                  <h5 class="card-title"><b style="font-size: 20px;">True-Up Utility</b></h5>
                  <p class="card-text">Automating true up activity which will reduce lot of manual work and always we can maintain our lower environments up to date with production. </p>
                  <button routerLink="/trueup">Explore</button>
                  
                </div> -->

                <div class="card-body">
                  <h5 class="card-title"><b style="font-size: 20px;">True-Up Status</b></h5>
<p>Get true up status for all lower environments based on the capability selected. We have provided the status report in the excel sheet too.</p>
                  <a routerLink="/individualbranchdetails"><button>Explore</button></a>
                </div>
              </div>
        </div>
        <div class="col-sm-6">
           
            <div class="card1" style="width: 23rem;height: 20rem;">
              <div class="card-body">
                <h5 class="card-title"><b style="font-size: 20px;">True-Up Utility</b></h5>
                <p class="card-text">Automating true up activity which will reduce lot of manual work and always we can maintain our lower environments up to date with production. </p>
                <button routerLink="/trueup">Explore</button>
                
              </div>
                <!-- <div class="card-body">
                  <h5 class="card-title"><b style="font-size: 20px;">True-Up Status</b></h5>
<p>Get true up status for all lower environments based on the capability selected. We have provided the status report in the excel sheet too.</p>
                  <a routerLink="/individualbranchdetails"><button>Explore</button></a>
                </div> -->
              </div>
          
        </div>
      </div>
    
    
    
  
</div>

</body>